<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>邮箱验证</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="Olas Navigator" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		.emal_content div {height: 30px;line-height: 30px;}
	</style>

</head>

<body>
<div class="emal_content">
	<div>亲爱的#username#</div>
	<br />
	<div>感谢您于#datetime#登录本网站,您的登录密码是:</div>
	<div><a href="#">#urlName#</a></div>
	<div>若您没有申请过验证邮箱，请您忽略此邮件，由此给您带来的不便请谅解。</div>
	<br />
	<div>谢谢！</div>
	<br />
	<div>此为系统邮件，请勿直接回复。</div>
</div>
</body>
</html>
sb.append(" <!DOCTYPE html>")
.append("<html lang='en'>")
.append("	<head>")
	.append("		<meta charset='utf-8' />")
	.append("		<title>邮箱验证</title>")
	.append("		<meta name='viewport' content='width=device-width, initial-scale=1.0' />")
	.append("		<meta name='description' content=' />")
.append("		<meta name='author' content='Olas Navigator' />")
	.append("		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />")
	.append("		<style type='text/css'>")
	.append("		.emal_content div {height: 30px;line-height: 30px;}")
	.append("		</style>")
	.append("")
	.append(" 	</head>  ")
.append("    ")
.append("	<body>")
.append("		<div class='emal_content'>")
	.append("			<div>亲爱的#username#</div>")
	.append("			<br />")
	.append("			<div>感谢您于#datetime#登录本网站,您的登录密码是:</div>")
	.append("			<div><a href='#'>#urlName#</a></div>")
	.append("			<div>若您没有申请过验证邮箱，请您忽略此邮件，由此给您带来的不便请谅解。</div>")
	.append("			<br />")
	.append("			<div>谢谢！</div>")
	.append("			<br />")
	.append("			<div>此为系统邮件，请勿直接回复。</div>")
	.append("		</div>")
.append("</body>")
.append("</html>");