<div class="h-top" id="home">
    <div class="top-header">
        <ul class="cl-effect-16 top-nag">
            <li><a href="/registration/toRegistration" data-hover="Registration">加入我们</a></li>
            <li><a href="/about" data-hover="About">About</a></li>
            <li><a href="/services" data-hover="SERVICES">SERVICES</a></li>
            <li><a href="/registration/toLogin" data-hover="Login">登录吧</a></li>
            <li><a href="/contact" data-hover="CONTACT">Contact</a></li>
        </ul>
        <div class="search-box">
            <div class="b-search">
                <form>
                    <input type="text" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </form>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>